@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');

:root {
  --primary-color: #570057;
  --cards-bg-color: #95659548;
  --text-color: #bebebe;
  --dark-text-color: black;
  --buttons-color: rgba(88, 71, 121, 0.436);
  --shadow-light-color: rgba(146, 84, 124, 0.527);
  --numbers-buttons-tcolumns: 25vw 25vw 25vw;
  --numbers-cards-tcolumns: 15vw 15vw 15vw;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Assistant', sans-serif;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;
  display: relative;
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  background-color: var(--primary-color);
  background-image: linear-gradient(180deg,
      hsl(300deg 100% 17%) 0%,
      hsl(300deg 100% 13%) 50%,
      hsl(300deg 100% 8%) 100%);
}

h1 {
  font-size: 7vw;
}

button {
  color: var(--text-color) !important;
}

nav {
  display: flex;
  padding: 1vh;
}

.index-box-title {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.index-login-button {
  display: flexbox;
  margin: auto;
  padding: auto;
  background-color: rgb(52, 52, 52);
  text-align: center;
  color: var(--text-color);
  font-size: 25pt;
}

.index-login-button:hover {
  cursor: pointer;
}

.separator {
  height: 10dvh;
  width: 100%;
}

@media (max-width: 576px) {}

@media (min-width: 577px) and (max-width: 768px) {}

@media (min-width: 769px) and (max-width: 992px) {}

@media (min-width: 993px) and (max-width: 1200px) {}

@media (min-width: 1201px) {}